div.table__header
  div.table__header-item
    div.table__title-holder
      span.table__header-title #
  div.table__header-item
    div.table__title-holder.table__title-holder--sort-asc
      span.table__header-title Date
  div.table__header-item
    div.table__title-holder
      span.table__header-title Client
  div.table__header-item
    div.table__title-holder
      span.table__header-title Service
  div.table__header-item
    div.table__title-holder
      span.table__header-title Resource
  div.table__header-item
    div.table__title-holder
      span.table__header-title Start/End time
  div.table__header-item
    div.table__title-holder
      span.table__header-title Paid hours
  div.table__header-item
    div.table__title-holder
      span.table__header-title Pay rate
  div.table__header-item
    div.table__title-holder.table__title-holder--sort-asc
      span.table__header-title Total pay