div.header__user-menu
  div.notifications.notifications--header
    img.notifications__icon(src="assets/img/world.svg")
    span.notifications__count-wrapper
      span.notifications__count 4
  div.header__separator.header__separator--user-menu
  div.user-profile.user-profile--header
    img.user-profile__img(src="assets/img/user-avatar.png")