.select {
  position: relative;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  &.select--active {
    .select__dropdown {
      display: block;
    }
  }
}

.select--controls {
  display: inline-block;
  vertical-align: middle;
}