div.page-content__block
  div.page-content__inner-box.page-content__inner-box--border-bottom
    div.activity-notifications
      div.activity-notifications__title
        span Activity Notifications
      div.activity-notifications__list
        div.activity-notifications__list-item
          label.activity-notifications__label
            input.activity-notifications__default-checkbox(type="checkbox")
            | Vacation Home Rental Success
            span.activity-notifications__custom-checkbox
        div.activity-notifications__list-item
          label.activity-notifications__label
            input.activity-notifications__default-checkbox(type="checkbox")
            | Vacation Home Rental Success
            span.activity-notifications__custom-checkbox
        div.activity-notifications__list-item
          label.activity-notifications__label
            input.activity-notifications__default-checkbox(type="checkbox")
            | Vacation Home Rental Success
            span.activity-notifications__custom-checkbox

  div.page-content__inner-box
    button.btn(type="button") Cancel
    button.btn.btn--primary.btn--right-align(type="button") Update