div.subheader
  div.fix.clearfix
    div.subheader__controls
      a.subheader__back-button(href="#")
        img.subheader__back-button-img(src="assets/img/back-arrow.svg")
      div.subheader__title
        span Edit invoice
    div.subheader__actions
      button.btn.btn--primary(type="button") Save changes