div.page-content__block.page-content__block--margin-bottom.page-content__block--inner-padding
  span.page-content__label-text Total Amount
  span.page-content__label-text.page-content__label-text--sum £ 11 000.00