.notifications__count-wrapper {
  position: absolute;
  top: -16px;
  right: -20px;
  width: 22px;
  height: 22px;
  font-family: 'proxima_nova_altbold';
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  background-color: #ff7700;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #2b333e;
}