.btn {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 10px 22px;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
}

.btn--primary {
  background-color: #00bb28;
}