.logo__text {
  width: 100%;
  padding-left: 42px;
  padding-top: 5px;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Proxima Nova';
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}