doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title CRM test
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/manifest.css")
    link(rel="stylesheet", href="assets/fonts/fonts.css")
    script(src="https://use.fontawesome.com/9200e1cb11.js")
  body
    div.container-wrapper

      div.header
        div.fix
          div.logo.logo--header
            a.logo__link.no-link-decoration(href="/")
              div.logo__avatar
                img.logo__img(src="http://via.placeholder.com/32x32")
              div.logo__text Test
          div.header__separator
      //include ../blocks/sidebar
      //
      //div.content
      //
      //  include ../blocks/header
      //
      //  block content