extends templates/layout/main

block content
  include templates/blocks/subheader

  div.page-content
    div.fix.fix--page-content.clearfix
      div.page-content__main-content
        div.table.page-content__block
          div.table__controls controls
          div.table__header header
          div.table__content content
      div.page-content__aside-content
        div.page-content__block.page-content__block--margin-bottom.page-content__block--inner-padding
          span.page-content__label-text Total Amount
          span.page-content__label-text.page-content__label-text--sum £ 11 000.00
        div.page-content__block Two