extends templates/layout/main

block content
  include templates/blocks/subheader

  div.page-content
    div.fix.fix--page-content.clearfix
      div.page-content__main-content
        div.table.page-content__block
          include templates/blocks/table/controls

          include templates/blocks/table/header

          div.table__content
            include templates/blocks/table/row
            include templates/blocks/table/row
            include templates/blocks/table/row

            div.table__row
              div.table__cell
                span 1
              div.table__cell
                span 2016/01/02
              div.table__cell
                span Señor Floss
              div.table__cell
                span Cost Cutting
              div.table__cell
                span Cost Cutting
              div.table__cell
                span 19:30 – 23:30
              div.table__cell
                span 140
              div.table__cell
                span £ 11.50
              div.table__cell.table__cell--bold
                span £ 23.00
              div.table__cell.table__cell--icon
                div.comment.comment--unread
                  span.comment__icon


      div.page-content__aside-content
        include templates/blocks/total-amount

        include templates/blocks/notifications