.page-content__block {
  background-color: #ffffff;
  border: 1px solid #e7e9ed;
  border-radius: 4px;
}

.page-content__block--margin-bottom {
  margin-bottom: 15px;
}

.page-content__block--inner-padding {
  padding: 19px 19px 22px 19px;
}

