.page-content__label-text {
  color: #333c48;
  font-family: "Proxima Nova";
  font-size: 15px;
  font-weight: 700;
}

.page-content__label-text--sum {
  margin-left: 75px;
  text-overflow: ellipsis;
  white-space: nowrap;
}