.page-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

// All here
.page-content__inner-box {
  padding: 16px 18px;
}

.page-content__inner-box--border-bottom {
  border-bottom: 1px solid #dee2e6;
}