.header__separator {
  width: 1px;
  height: 20px;
  opacity: 0.3;
  background-color: #7e8fa5;
  display: inline-block;
  vertical-align: top;
  margin-top: 31px;
}

.header__separator--user-menu {
  vertical-align: inherit;
  margin-top: 0;
}