doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title CRM test
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/manifest.css")
    link(rel="stylesheet", href="assets/fonts/fonts.css")
  body
    div.container-wrapper

      include ../blocks/header

      block content